<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="js/scheduler.app.angular.js"></script>
    <script src="js/scheduler.services.angular.js"></script>
    <script src="js/scheduler.controllers.angular.js"></script>
    <script src="js/scheduler.routing.angular.js"></script>
</head>
<body ng-app="schedulerApp">

<div class="container">
	<div id="main">
      <!-- Aquí inyectamos las vistas -->
      <div ng-view></div> 
    </div>
</div>
</body>
</html>
<script type="text/javascript">
	function daysmonth(days) {
		debugger;
	}
</script>